Netflix-top10-seerr.json
{
  "name": "Netflix Norway Top10 → Seerr",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "2d12a38d-4340-4bd2-8aa2-3b2e28755b0f",
      "name": "Daily 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1616,
        80
      ]
    },
    {
      "parameters": {
        "url": "https://flixpatrol.com/top10/netflix/norway/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "9f277e2b-0eed-4766-87b3-0c8badeb7ea2",
      "name": "Fetch FlixPatrol",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1408,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data;\n\nconst matches = [\n  ...html.matchAll(\n    /table-hover:text-gray-400\">\\s*(\\d+)\\.\\s*<\\/td>.*?href=\"\\/title\\/[^\"]+\"\\s*class=\"hover:underline\">([^<]+)<\\/a>/gs\n  )\n];\n\nconst titles = matches.map(m => ({\n  rank: parseInt(m[1]),\n  title: m[2]\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&#039;/g, \"'\")\n    .trim()\n}));\n\nconst movies = titles.slice(0, 10).map(t => ({ ...t, mediaType: 'movie' }));\nconst shows  = titles.slice(10, 20).map(t => ({ ...t, mediaType: 'tv' }));\n\nreturn [{ json: { titles: [...movies, ...shows] } }];"
      },
      "id": "57d6df8c-1fc2-4145-b4e8-131192b50f43",
      "name": "Parse Top10 Titles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        80
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "titles",
        "options": {}
      },
      "id": "11005f95-3b18-47c4-8c65-f8024a3978a6",
      "name": "Split Titles",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -960,
        80
      ]
    },
    {
      "parameters": {
        "url": "http://YOUR_OVERSEERR_IP:5055/api/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.title }}"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "language",
              "value": "en"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "YOUR_OVERSEERR_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "45cdfe9a-fb11-4289-8d53-51dfcd285d2e",
      "name": "Search Seerr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -736,
        80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const search   = $input.item.json;\nconst original = $('Split Titles').item.json;\n\nif (search.error) {\n  return { json: { shouldRequest: false, title: original.title, reason: 'search error' } };\n}\n\nconst results   = search.results || [];\nconst mediaType = original.mediaType;\n\nconst match = results.find(r => r.mediaType === mediaType) || results[0];\n\nif (!match) {\n  return { json: { shouldRequest: false, title: original.title, reason: 'no results' } };\n}\n\nconst status        = match.mediaInfo?.status ?? 0;\nconst shouldRequest = status < 2;\n\nreturn { json: {\n  shouldRequest,\n  mediaId:       match.id,\n  mediaType:     match.mediaType,\n  title:         match.title || match.name,\n  currentStatus: status\n} };"
      },
      "id": "157fad6e-7bae-420c-bc2e-53fa5016423a",
      "name": "Check Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.shouldRequest }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "97ff8ef3-58ca-46d9-b676-edba2d77b91c",
      "name": "Not Yet Requested?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -304,
        80
      ]
    },
    {
      "parameters": {
        "url": "=http://YOUR_OVERSEERR_IP:5055/api/v1/{{ $json.mediaType === 'tv' ? 'tv' : 'movie' }}/{{ $json.mediaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "YOUR_OVERSEERR_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "549bc4d1-120e-4861-aa90-570c0371021f",
      "name": "Fetch TV Seasons",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -80,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_OVERSEERR_IP:5055/api/v1/auth/local",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"email\":\"YOUR_OVERSEERR_EMAIL\",\"password\":\"YOUR_OVERSEERR_PASSWORD\"}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "3aa07388-fbad-4601-8844-0c2da69e953a",
      "name": "Login Bot User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        144,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_OVERSEERR_IP:5055/api/v1/request",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "={{ $json.headers['set-cookie'][0].split(';')[0] }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ mediaType: $('Not Yet Requested?').item.json.mediaType, mediaId: $('Not Yet Requested?').item.json.mediaId, ...($('Not Yet Requested?').item.json.mediaType === 'tv' ? { seasons: [($('Fetch TV Seasons').item.json.seasons || []).map(s => s.seasonNumber).filter(n => n > 0).sort((a,b) => a - b).pop()].filter(Boolean) } : {}) }) }}",
        "options": {}
      },
      "id": "f0ee9906-267d-4a20-94be-722f7bf089b8",
      "name": "Request in Seerr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        368,
        0
      ],
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 08:00": {
      "main": [
        [
          {
            "node": "Fetch FlixPatrol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch FlixPatrol": {
      "main": [
        [
          {
            "node": "Parse Top10 Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Top10 Titles": {
      "main": [
        [
          {
            "node": "Split Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Titles": {
      "main": [
        [
          {
            "node": "Search Seerr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Seerr": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Not Yet Requested?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Yet Requested?": {
      "main": [
        [
          {
            "node": "Fetch TV Seasons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch TV Seasons": {
      "main": [
        [
          {
            "node": "Login Bot User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login Bot User": {
      "main": [
        [
          {
            "node": "Request in Seerr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ccef7c99-c134-4820-81ce-604f807e30b0",
  "meta": {
    "instanceId": "REPLACE_WITH_YOUR_INSTANCE_ID"
  },
  "id": "scktYFnd6h9MMmYB",
  "tags": []
}
